.flex_container {
    display: flex;
    gap: 50px;
    align-items: center;
}

.flex_items {
    flex: 1;
    gap: 20px;
}

.text-1 {
    color: #97f3f3;
    text-decoration: underline;
}

.instructions {
    width: 465px;
    text-align: left;
    font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 1;
}

.logo {
    border-radius: 25%;
}

.title {
    text-align: left;
    font-size: 65px;
    line-height: 0;
}