.track-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;  
    background-color: #3734e3;
    border-radius: 8px;
    color: white;
}

.track-item a {
    width: 64px;
    height: 64px;
}

.track-item img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    margin-right: 15px;
    
}

.track-details {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.track-details h3 {
    margin: 5px;
    font-size: 14px;
    line-height: 1.1;
}

.track-details p {
    margin: 0;
    font-size: 12px;
    line-height: 1.1;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}